<h1>Tags!!!</h1>

<ul id="articles">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
      <%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Really destroy this poor defenseless tag?"}
 %>
    </li>
  <% end %>
</ul>


